@import "bootstrap/dist/css/bootstrap.css";
@import "react-querybuilder/dist/query-builder.css";

.App {
    min-height: 100vh;
}

/* Auth Page */
.auth-page {
    margin-top: 2rem;
}
.auth-tabs {
    text-align: center;
    margin: auto;
}
.auth-tabs form {
    text-align: left;
    margin: auto;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 10px;
    width: 60%;
}
/* dashboard page */
.dashboard-page {
    text-align: left;
}
.project-card {
    margin: 0.5rem;
}
/* Project page */
.project-page {
    margin-top: 2rem;
    text-align: left;
}

.project-head {
    align-items: center;
}

.query-builder {
    margin-top: 1rem !important;
}
/* profile page */

.profile-about {
    padding: 2rem;
    text-align: left;
}
.profile-contact {
    color: gray;
    font-style: italic;
}

.profile-edit-icon {
    float: right;
    cursor: pointer;
}

.queryBuilder .form-control,
.form-select {
    display: inline-block;
    width: 80%;
}
